<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .main-grid {
                margin: 8px;
                display: grid;
                gap: 8px;
                grid-template-columns: repeat({{ width }}, 1fr);
                grid-template-rows: repeat({{ height }}, 80px);
            }
        </style>
    </head>
    <body>
        <div class="main-grid">
            {% for widget in widgets %}
                {{ widget|safe }}
            {% endfor %}
        </div>
    </body>
</html>