<div class="{{ config.color_css_class() }} w3-round w3-container" style="grid-column-start: {{ config.left }}; grid-column-end: {{ config.left + config.width }}; grid-row-start: {{ config.top }}; grid-row-end: {{ config.top + config.height }};">
    <h2>{{ config.label }}</h2>
    {% match template %}
    {% when WidgetTemplateInner::Line with (template) %}
        {{ template|safe }}
    {% when WidgetTemplateInner::Value with (template) %}
        {{ template|safe }}
    {% when WidgetTemplateInner::Gague with (template) %}
        {{ template|safe }}
    {% when WidgetTemplateInner::Label %}
    {% endmatch %}
</div>